<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- 父亲模板占位，可以被子模板覆盖的东西 -->
    <title>{% block title %}首页{% endblock%}</title>
    {% if !isDev %}
    <link rel="stylesheet" href="/public/css/admin-lib.css">
    {% endif %}
    {% block css %} {% endblock%}
</head>

<body>
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="#">后台管理</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/admin/index">文章列表</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">欢迎您，{{ user.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/logout">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    {% block content %} {% endblock%}
    <script src="/public/common/admin-lib.js"></script>
    {% block js %} {% endblock%}
    {% if isDev %}
    <!-- 服务器启动后浏览器页面自动刷新 -->
    <script src="/reload/reload.js"></script>
    {% endif %}
</body>

</html>