
{% extends './layout2.html' %} 
{% block title %} 【一点资讯】{{article.title}} {% endblock %} 
{% block content%}
<script>
var userId="{{user._id}}";
var articleId="{{article.id}}";
</script>
<div class="main">
    <div class="left-wrapper">
        <h2>{{article.title}}</h2>
        <div class="meta">
            <span class="wm-copyright">原创</span>
            <a href="/channel/m299739" class="doc-source">星资</a>
            <span>昨天</span>
            <span class="wemedia-icon iconfont icon-yidianhaoxiao"></span>
            <div class="float-right share">我要分享<span class="icon-down iconfont"></span>
                <div class="share-wrapper">
                    <div class="share-list">
                        <a href="javascript:;" title="分享到新浪微博" data-share="weibo" share-type="doc" class="icon-weibo iconfont share-icon"></a>
                        <a href="javascript:;" title="分享到QQ空间" data-share="qzone" share-type="doc" class="icon-qzone iconfont share-icon"></a>
                        <a href="javascript:;" data-share="weixin" share-type="doc" class="icon-weixin iconfont share-icon"></a>
                    </div>
                </div>
                <div class="qrcode-wrapper">
                    <span class="iconfont icon-up"></span>
                    <span class="iconfont icon-arrow-up"></span>
                    <table style="width: 128px; height: 128px; border: 0px; border-collapse: collapse; background-color: rgb(255, 255, 255);">
                        <tbody>
                            <tr style="height: 3.12195px;">
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="content-bd">
            <!-- wemedia true -->
            <div id="imedia-article" class="imedia-article">
                {{article.body|raw()}}

                
            </div>
            <p class="yidian-wm-copyright-bottom">本文为一点号作者原创，未经授权不得转载</p>
        </div>
        <div class="interact">
            <a href="javascript:;" class="article-like">收藏</a>
            <span class="line"></span>
            <a href="javascript:;" class="article-complain">投诉</a>
        </div>
        <div class="comments">
            
            <!--畅言评论框 -->
            <div id="SOHUCS" sid="请将此处替换为配置SourceID的语句"></div>
            <script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
            <script type="text/javascript">
            window.changyan.api.config({
            appid: 'cytk6HpVa',
            conf: 'prod_f602436fe4ba0599d1d075712563d917'
            });
            </script> 
            <!--畅言评论框end -->
            <!--友言评论框-->
            <!-- UY BEGIN -->
            <div id="uyan_frame"></div>
            <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2149259"></script>
            <!--友言评论框end-->
            <div class="hd-comment">
                <img src="http://si1.go2yd.com/get-image/0IIM917KRcm">
                <textarea placeholder="发表你的精彩评论" class="comment-input"></textarea>
                <a href="javascript:;" class="add-comment-btn">发表</a>
            </div>
            <h5><span>最新评论</span><p></p></h5>
            <ul class="comments-list">
                {% for comment in article.comments %}

                <li data-id="ozfopy-htlzavb">
                    <img src="http://fs.uc.nearme.com.cn/userImg/807/516/702/207615708.jpg">
                    <div class="comment-box">
                    <span class="comment-nickname">{{comment.username}}</span>
                    <span class="comment-date">{{comment.duration}}</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">0 赞</a>
                    
                    </div>
                    <p>{{comment.body}}</p>
                    
                </li>
                
                {% endfor %}
                <li data-id="ozfjqw42jluj">
                    <img src="http://s.go2yd.com/a/thead_wumai.png">
                    <div class="comment-box">
                    <span class="comment-nickname">U130101811</span>
                    <span class="comment-date">1小时前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">1 赞</a>
                    
                    </div>
                    <p>马云这样的人，若在古代，包公在世，一个虎头铡刀就会解决了他</p>
                    
                    <div class="reply-lists">
                        <span class="arrow-up iconfont icon-up"></span>
                    
                        <div data-id="ozfjti0ud2ra">
                        
                            <a class="ft_blue can_reply" title="点击回复他" href="javascript:;">追忆似水流年～(￣▽￣～)~</a>
                        
            
                        
                        ：神经病
                        </div>
                    
                        <div data-id="ozfk1242jluj">
                        
                            <a class="ft_blue can_reply" title="点击回复他" href="javascript:;">U130101811</a>
                        
            
                        
                            回复 <span class="ft_blue">追忆似水流年～(￣▽￣～)~</span>
                        
                        ：反正说的也是实话，
                        </div>
                    
                    
                    </div>
                    
                </li>
            </ul>
            <div class="no-comment">
                <img src="//staticimg.yidianzixun.com/modules/build/images/no_comment-12628b2d.png">
                <p>暂无评论，快来抢沙发！</p>
            </div>
            <a href="#" class="more-comments comments-tip" style="display: inline-block;">查看更多评论<span class="arrow-down icon-arrow-down iconfont"></span></a>
            <div class="error-get-comments comments-tip" style="display: none;">加载失败，请点击重试</div>
            <div class="no-more-comments">已加载全部评论</div>
        </div>
    </div>
    <div class="right-wrapper">
        <div class="wemedia-wrapper">
            <a href="/channel/m299739" class="wemedia-image-box">
                <img src="http://i1.go2yd.com/image.php?url=http://si1.go2yd.com/get-image/0CCHR2lTBom&amp;type=thumbnail_150x150">
            </a>
            <a href="/channel/m299739" class="wemedia-name">星资</a>
            <p class="wemedia-summary hide-summary">关于明星的一切，就是我们的新闻</p>
            <a href="javascript:;" data-id="m299739" class="wemedia-subscribe"><i>+</i>关注</a>
        </div>
        <div class="related-docs-wrapper" style="display: block;">
            <h5>相关新闻</h5>
            <ul class="related-docs-list">
                
                <li>
                    <h3><a href="/article/0HgszE3j" target="_blank">文章成最悲惨导演，甄子丹和马云坐着，他蹲着给他们讲戏</a></h3>
                    <p>昨天</p>
                </li>
                
                <li>
                    <h3><a href="/article/K_005T7UQL" target="_blank">如何评价马云以及他的电影《功守道》？</a></h3>
                    <p>2天前</p>
                </li>
                
                <li>
                    <h3><a href="/article/0HgHE6lq" target="_blank">马云吊打吴京李连杰！史上最贵年会大片《功守道》到底什么道道？</a></h3>
                    <p>2天前</p>
                </li>
                
                <li>
                    <h3><a href="/article/0HgN0CnI" target="_blank">马云单挑“叶问”吊打“战狼”，网友：原来天下武功，唯富不破！</a></h3>
                    <p>2天前</p>
                </li>
    
            </ul>
        </div>
        <div class="widget-box widget-hot-channel-box">
            <div class="widget widget-hot-channel">
                <h5>热门频道</h5>
                <div class="related-channels-list">
                
                    <li class="js-channel-subscribe-item" data-fromid="u1275" data-channelid="undefined" data-channelname="英雄联盟">
                        <a href="/channel/u1275">
                        <img src="http://i1.go2yd.com/image.php?url=http://s.go2yd.com/b/idaza05c_7705d1d1.jpg&amp;type=thumbnail_150x150">
                        <p>英雄联盟</p>
                        </a>
                        <a class="related-channels-subscribe subscribe js-subscribe-btn" href="javascript:;" data-id="u1275">订阅</a>
                        <a class="related-channels-subscribe unsubscribe js-unsubscribe-btn" href="javascript:;" data-id="u1275">已订阅</a>
                    </li>
                    
                    <li class="js-channel-subscribe-item" data-fromid="u7175" data-channelid="undefined" data-channelname="双十一">
                        <a href="/channel/u7175">
                        <img src="http://i1.go2yd.com/image.php?url=https://s.go2yd.com/b/j07q1q4d_8l14b6b6.jpg&amp;type=thumbnail_150x150">
                        <p>双十一</p>
                        </a>
                        <a class="related-channels-subscribe subscribe js-subscribe-btn" href="javascript:;" data-id="u7175">订阅</a>
                        <a class="related-channels-subscribe unsubscribe js-unsubscribe-btn" href="javascript:;" data-id="u7175">已订阅</a>
                    </li>
                    
                    <li class="js-channel-subscribe-item" data-fromid="t22164" data-channelid="undefined" data-channelname="世预赛">
                        <a href="/channel/t22164">
                        <img src="http://i1.go2yd.com/image.php?url=http://s.go2yd.com/b/ih4gq7sb_7g00d1d1.jpg&amp;type=thumbnail_150x150">
                        <p>世预赛</p>
                        </a>
                        <a class="related-channels-subscribe subscribe js-subscribe-btn" href="javascript:;" data-id="t22164">订阅</a>
                        <a class="related-channels-subscribe unsubscribe js-unsubscribe-btn" href="javascript:;" data-id="t22164">已订阅</a>
                    </li>
                    
                    <li class="js-channel-subscribe-item" data-fromid="b3624" data-channelid="undefined" data-channelname="党建">
                        <a href="/channel/b3624">
                        <img src="http://i1.go2yd.com/image.php?url=http://s.go2yd.com/b/ir4ap6uo_7b01d1d1.jpg&amp;type=thumbnail_150x150">
                        <p>党建</p>
                        </a>
                        <a class="related-channels-subscribe subscribe js-subscribe-btn" href="javascript:;" data-id="b3624">订阅</a>
                        <a class="related-channels-subscribe unsubscribe js-unsubscribe-btn" href="javascript:;" data-id="b3624">已订阅</a>
                    </li>
                    
                    <li class="js-channel-subscribe-item" data-fromid="t9439" data-channelid="undefined" data-channelname="情感">
                        <a href="/channel/t9439">
                        <img src="http://i1.go2yd.com/image.php?url=http://s.go2yd.com/b/id5mlbxg_7g0fd1d1.jpg&amp;type=thumbnail_150x150">
                        <p>情感</p>
                        </a>
                        <a class="related-channels-subscribe subscribe js-subscribe-btn" href="javascript:;" data-id="t9439">订阅</a>
                        <a class="related-channels-subscribe unsubscribe js-unsubscribe-btn" href="javascript:;" data-id="t9439">已订阅</a>
                    </li>
                    
                    <li class="js-channel-subscribe-item" data-fromid="e128864" data-channelid="undefined" data-channelname="郭敬明">
                        <a href="/channel/e128864">
                        <img src="http://i1.go2yd.com/image.php?url=http://s.go2yd.com/b/idpiv0tr_9n00d1d1.jpg&amp;type=thumbnail_150x150">
                        <p>郭敬明</p>
                        </a>
                        <a class="related-channels-subscribe subscribe js-subscribe-btn" href="javascript:;" data-id="e128864">订阅</a>
                        <a class="related-channels-subscribe unsubscribe js-unsubscribe-btn" href="javascript:;" data-id="e128864">已订阅</a>
                    </li>
                
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 
{% block js %}
<script data-main="article-detail/article-detail" src="/public/common/main.js"></script>
{% endblock %}
