
{% extends './layout2.html' %} 
{% block title %} 【一点资讯】{{article.title}} {% endblock %} 
{% block content%}
<div class="main">
    <div class="left-wrapper">
        <h2>{{article.title}}</h2>
        <div class="meta">
            <span class="wm-copyright">原创</span>
            <a href="/channel/m299739" class="doc-source">星资</a>
            <span>昨天</span>
            <span class="wemedia-icon iconfont icon-yidianhaoxiao"></span>
            <div class="float-right share">我要分享<span class="icon-down iconfont"></span>
                <div class="share-wrapper">
                    <div class="share-list">
                        <a href="javascript:;" title="分享到新浪微博" data-share="weibo" share-type="doc" class="icon-weibo iconfont share-icon"></a>
                        <a href="javascript:;" title="分享到QQ空间" data-share="qzone" share-type="doc" class="icon-qzone iconfont share-icon"></a>
                        <a href="javascript:;" data-share="weixin" share-type="doc" class="icon-weixin iconfont share-icon"></a>
                    </div>
                </div>
                <div class="qrcode-wrapper">
                    <span class="iconfont icon-up"></span>
                    <span class="iconfont icon-arrow-up"></span>
                    <table style="width: 128px; height: 128px; border: 0px; border-collapse: collapse; background-color: rgb(255, 255, 255);">
                        <tbody>
                            <tr style="height: 3.12195px;">
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="content-bd">
            <!-- wemedia true -->
            <div id="imedia-article" class="imedia-article">
                {{article.body|raw()}}

                
            </div>
            <p class="yidian-wm-copyright-bottom">本文为一点号作者原创，未经授权不得转载</p>
        </div>
        <div class="interact">
            <a href="javascript:;" class="article-like">收藏</a>
            <span class="line"></span>
            <a href="javascript:;" class="article-complain">投诉</a>
        </div>
        <div class="comments">
            <div class="hd-comment">
                <img src="http://si1.go2yd.com/get-image/0IIM917KRcm">
                <textarea placeholder="发表你的精彩评论" class="comment-input"></textarea>
                <a href="javascript:;" class="add-comment-btn">发表</a>
            </div>
            <h5><span>最新评论</span><p></p></h5>
            <ul class="comments-list">
    
                <li data-id="ozfopy-htlzavb">
                    <img src="http://fs.uc.nearme.com.cn/userImg/807/516/702/207615708.jpg">
                    <div class="comment-box">
                    <span class="comment-nickname">正宗小伙子</span>
                    <span class="comment-date">3分钟前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">0 赞</a>
                    
                    </div>
                    <p>以后拍照拼命站中间</p>
                    
                </li>
                
                <li data-id="ozfopg-l2u83tb">
                    <img src="http://s.go2yd.com/a/thead_shatannan.png">
                    <div class="comment-box">
                    <span class="comment-nickname">U172869113</span>
                    <span class="comment-date">3分钟前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">0 赞</a>
                    
                    </div>
                    <p>不然努力的意义何在。</p>
                    
                </li>
                
                <li data-id="ozfoo1-kwqakyb">
                    <img src="http://s.go2yd.com/a/thead_bajie.png">
                    <div class="comment-box">
                    <span class="comment-nickname">U110877635</span>
                    <span class="comment-date">4分钟前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">0 赞</a>
                    
                    </div>
                    <p>朋友悄悄告诉我，以后不要站在大个儿旁边合影</p>
                    
                </li>
                
                <li data-id="ozfojt-gn9n3tb">
                    <img src="http://s.go2yd.com/a/thead_shatannan.png">
                    <div class="comment-box">
                    <span class="comment-nickname">U27885971</span>
                    <span class="comment-date">7分钟前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">0 赞</a>
                    
                    </div>
                    <p>妒世愤俗的都有心理问题，包括我自己</p>
                    
                </li>
                
                <li data-id="ozfohx-hv1yw2b">
                    <img src="http://s.go2yd.com/a/thead_bajie.png">
                    <div class="comment-box">
                    <span class="comment-nickname">U24821828</span>
                    <span class="comment-date">8分钟前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">0 赞</a>
                    
                    </div>
                    <p>有钱就是爹</p>
                    
                </li>
                
                <li data-id="ozfo5y0x2ud9">
                    <img src="http://s.go2yd.com/a/thead_xiongmao.png">
                    <div class="comment-box">
                    <span class="comment-nickname">大鹿站在房子里</span>
                    <span class="comment-date">15分钟前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">1 赞</a>
                    
                    </div>
                    <p>上学时都是班主任站中间，因为班主任最有钱！！！</p>
                    
                </li>
                
                <li data-id="ozfnza97hirw">
                    <img src="http://i1.go2yd.com/image.php?url=http%3A%2F%2Fsi1.go2yd.com%2Fget-image%2Fh3rd%2F0DTqlTQh9kG&amp;type=_120x120">
                    <div class="comment-box">
                    <span class="comment-nickname">🔥</span>
                    <span class="comment-date">19分钟前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">0 赞</a>
                    
                    </div>
                    <p>不这样怎么给那些人鸡汤</p>
                    
                </li>
                
                <li data-id="ozfnx2-j2zo64b">
                    <img src="http://s.go2yd.com/a/thead_bainiangzi.png">
                    <div class="comment-box">
                    <span class="comment-nickname">U129629217</span>
                    <span class="comment-date">20分钟前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">0 赞</a>
                    
                    </div>
                    <p>有钱什么懒觉事都能成</p>
                    
                </li>
                
                <li data-id="ozfnf59nei01">
                    <img src="http://s.go2yd.com/a/thead_boshi.png">
                    <div class="comment-box">
                    <span class="comment-nickname">中野环</span>
                    <span class="comment-date">31分钟前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">2 赞</a>
                    
                    </div>
                    <p>一白遮三丑，一高遮五丑，一富遮所有    所以以后不要再期待大海带走你们的矮丑了，在KTV使劲唱也没用  兄弟们</p>
                    
                </li>
                
                <li data-id="ozfndw-hw1a0lb">
                    <img src="http://i1.go2yd.com/image.php?url=http%3A%2F%2Fsi1.go2yd.com%2Fget-image%2Fh3rd%2F0HdLa5f8Ts8&amp;type=_120x120">
                    <div class="comment-box">
                    <span class="comment-nickname">祖国威武</span>
                    <span class="comment-date">32分钟前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">0 赞</a>
                    
                    </div>
                    <p>神经</p>
                    
                </li>
                
                <li data-id="ozfnah-m7cen2b">
                    <img src="http://s.go2yd.com/a/thead_meiguoduizhang.png">
                    <div class="comment-box">
                    <span class="comment-nickname">U210736992</span>
                    <span class="comment-date">34分钟前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">0 赞</a>
                    
                    </div>
                    <p>干笑,人生</p>
                    
                </li>
                
                <li data-id="ozfn8l-m7cen2b">
                    <img src="http://s.go2yd.com/a/thead_meiguoduizhang.png">
                    <div class="comment-box">
                    <span class="comment-nickname">U210736992</span>
                    <span class="comment-date">35分钟前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">0 赞</a>
                    
                    </div>
                    <p>马云，不出点声救助穷人</p>
                    
                </li>
                
                <li data-id="ozfmxl-kc0yi2b">
                    <img src="http://s.go2yd.com/a/thead_haizeiwang.png">
                    <div class="comment-box">
                    <span class="comment-nickname">U154682327</span>
                    <span class="comment-date">42分钟前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">1 赞</a>
                    
                    </div>
                    <p>这和现实有什么关系，这叫价值</p>
                    
                </li>
                
                <li data-id="ozfmwm-lomsz2b">
                    <img src="http://s.go2yd.com/a/thead_bajie.png">
                    <div class="comment-box">
                    <span class="comment-nickname">U203460851</span>
                    <span class="comment-date">42分钟前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">0 赞</a>
                    
                    </div>
                    <p>以前克刚</p>
                    
                </li>
                
                <li data-id="ozfmmt0o224y">
                    <img src="http://i1.go2yd.com/avatar/group2/M00/F3/66/CmcRJ1jObtyAUYDZAACBcm5txn82504452.jpg?compress=7&amp;size=120x120">
                    <div class="comment-box">
                    <span class="comment-nickname">红尘悟道</span>
                    <span class="comment-date">48分钟前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">0 赞</a>
                    
                    </div>
                    <p>马云不占中间谁站，在村里一个小小的村长都能翻了天，何况是小马</p>
                    
                </li>
                
                <li data-id="ozfmdw36k0wy">
                    <img src="http://s.go2yd.com/a/thead_meiguoduizhang.png">
                    <div class="comment-box">
                    <span class="comment-nickname">颛孙有</span>
                    <span class="comment-date">54分钟前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">1 赞</a>
                    
                    </div>
                    <p>马云没有我有钱，梦想总是要有的，万一实现了呢</p>
                    
                </li>
                
                <li data-id="ozfma9-js61omb">
                    <img src="http://s.go2yd.com/a/thead_meiguoduizhang.png">
                    <div class="comment-box">
                    <span class="comment-nickname">U143338838</span>
                    <span class="comment-date">56分钟前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">0 赞</a>
                    
                    </div>
                    <p>有钱人拉的屎都是香的</p>
                    
                </li>
                
                <li data-id="ozfm9h-iozwaeb">
                    <img src="http://i1.go2yd.com/image.php?url=http%3A%2F%2Fsi1.go2yd.com%2Fget-image%2Fh3rd%2F0IJntqYv7mi&amp;type=_120x120">
                    <div class="comment-box">
                    <span class="comment-nickname">心安散热器</span>
                    <span class="comment-date">56分钟前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">2 赞</a>
                    
                    </div>
                    <p>社会的价值观就是被这种无知小编们给弄坏了</p>
                    
                    <div class="reply-lists">
                        <span class="arrow-up iconfont icon-up"></span>
                    
                        <div data-id="ozfmff-lzwh33b">
                        
                            <a class="ft_blue can_reply" title="点击回复他" href="javascript:;">U69896808</a>
                        
            
                        
                        ：无知的是你自己吧！
                        </div>
                    
                        <div data-id="ozfo51-ha3gsfb">
                        
                            <a class="ft_blue can_reply" title="点击回复他" href="javascript:;">U70787744</a>
                        
            
                        
                            回复 <span class="ft_blue">U69896808</span>
                        
                        ：智障
                        </div>
                    
                    
                    </div>
                    
                </li>
                
                <li data-id="ozflxp-kwetl1b">
                    <img src="http://s.go2yd.com/a/thead_xiongmao.png">
                    <div class="comment-box">
                    <span class="comment-nickname">U169878498</span>
                    <span class="comment-date">1小时前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">0 赞</a>
                    
                    </div>
                    <p>纯真的学生时代，希望永远不变现实的社会生活，就是那么现实</p>
                    
                </li>
                
                <li data-id="ozflx41n96rs">
                    <img src="http://i1.go2yd.com/image.php?url=http%3A%2F%2Fsi1.go2yd.com%2Fget-image%2Fh3rd%2F0CqOb1TbsAq&amp;type=_120x120">
                    <div class="comment-box">
                    <span class="comment-nickname">幽蓝</span>
                    <span class="comment-date">1小时前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">2 赞</a>
                    
                    </div>
                    <p>人们尊重钱！</p>
                    
                </li>
                
                <li data-id="ozflnf1leb2i">
                    <img src="http://s.go2yd.com/a/thead_bajie.png">
                    <div class="comment-box">
                    <span class="comment-nickname">990493979</span>
                    <span class="comment-date">1小时前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">1 赞</a>
                    
                    </div>
                    <p>有钱就是大爷</p>
                    
                </li>
                
                <li data-id="ozfllz0di2ge">
                    <img src="http://s.go2yd.com/a/thead_zhanzhao.png">
                    <div class="comment-box">
                    <span class="comment-nickname">701105272主</span>
                    <span class="comment-date">1小时前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">1 赞</a>
                    
                    </div>
                    <p>现实啊</p>
                    
                </li>
                
                <li data-id="ozfl6w-igitrib">
                    <img src="http://s.go2yd.com/a/thead_haizeiwang.png">
                    <div class="comment-box">
                    <span class="comment-nickname">U109342658</span>
                    <span class="comment-date">1小时前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">0 赞</a>
                    
                    </div>
                    <p>最后那张合影最明显，倒V型站位就是为了照顾马云那矮个子。摄影师好有心机</p>
                    
                </li>
                
                <li data-id="ozfl150efm3w">
                    <img src="http://i1.go2yd.com/image.php?url=http%3A%2F%2Fsi1.go2yd.com%2Fget-image%2Fh3rd%2F0CzlzWkaZUm&amp;type=_120x120">
                    <div class="comment-box">
                    <span class="comment-nickname">711424721</span>
                    <span class="comment-date">1小时前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">0 赞</a>
                    
                    </div>
                    <p>什么都发来说事</p>
                    
                </li>
                
                <li data-id="ozfky7-i56an2b">
                    <img src="http://fs.uc.nearme.com.cn/userImg/840/838/661/166838048.jpg">
                    <div class="comment-box">
                    <span class="comment-nickname">纪豪极好</span>
                    <span class="comment-date">1小时前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">0 赞</a>
                    
                    </div>
                    <p>是啊！有钱的话你说的话别人能听。没钱不好使。</p>
                    
                    <div class="reply-lists">
                        <span class="arrow-up iconfont icon-up"></span>
                    
                        <div data-id="ozfm6i-lhihb7b">
                        
                            <a class="ft_blue can_reply" title="点击回复他" href="javascript:;">U169354571</a>
                        
            
                        
                        ：现实
                        </div>
                    
                    
                    </div>
                    
                </li>
                
                <li data-id="ozfkri-ks82gdb">
                    <img src="http://s.go2yd.com/a/thead_xiongmao.png">
                    <div class="comment-box">
                    <span class="comment-nickname">U172256040</span>
                    <span class="comment-date">1小时前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">4 赞</a>
                    
                    </div>
                    <p>马云的钱也是靠他的人品换来的，关键还是得有人品。你很有钱，但你是个江洋大盗，试问你有资格站到中间吗？估计连别人合影的资格都没有。不要误导网友，德行永远别金钱重要。</p>
                    
                </li>
                
                <li data-id="ozfju40o5fy7">
                    <img src="http://i1.go2yd.com/image.php?url=http%3A%2F%2Fsi1.go2yd.com%2Fget-image%2Fh3rd%2F0DNjvyARSS0&amp;type=_120x120">
                    <div class="comment-box">
                    <span class="comment-nickname">834927450</span>
                    <span class="comment-date">1小时前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">1 赞</a>
                    
                    </div>
                    <p>哪跟哪。瞎编！</p>
                    
                </li>
                
                <li data-id="ozfjri3rsh4y">
                    <img src="http://i1.go2yd.com/avatar/group2/M05/CE/CD/CmcRJlhwgZqAVOv_AABfAsjx7704308408.jpg?compress=7&amp;size=120x120">
                    <div class="comment-box">
                    <span class="comment-nickname">……晖"</span>
                    <span class="comment-date">1小时前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">1 赞</a>
                    
                    </div>
                    <p>慢慢的有配角变为主角</p>
                    
                </li>
                
                <li data-id="ozfjqw42jluj">
                    <img src="http://s.go2yd.com/a/thead_wumai.png">
                    <div class="comment-box">
                    <span class="comment-nickname">U130101811</span>
                    <span class="comment-date">1小时前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">1 赞</a>
                    
                    </div>
                    <p>马云这样的人，若在古代，包公在世，一个虎头铡刀就会解决了他</p>
                    
                    <div class="reply-lists">
                        <span class="arrow-up iconfont icon-up"></span>
                    
                        <div data-id="ozfjti0ud2ra">
                        
                            <a class="ft_blue can_reply" title="点击回复他" href="javascript:;">追忆似水流年～(￣▽￣～)~</a>
                        
            
                        
                        ：神经病
                        </div>
                    
                        <div data-id="ozfk1242jluj">
                        
                            <a class="ft_blue can_reply" title="点击回复他" href="javascript:;">U130101811</a>
                        
            
                        
                            回复 <span class="ft_blue">追忆似水流年～(￣▽￣～)~</span>
                        
                        ：反正说的也是实话，
                        </div>
                    
                    
                    </div>
                    
                </li>
                
                <li data-id="ozfjk7-hb17hyb">
                    <img src="http://fs.uc.nearme.com.cn/userImg/948/662/002/200266849.jpg">
                    <div class="comment-box">
                    <span class="comment-nickname">U100260008</span>
                    <span class="comment-date">1小时前</span>
                    
                        <a href="javascript:;" class="float-right comment-reply">回复</a>
                        <a href="javascript:;" class="float-right comment-like ">1 赞</a>
                    
                    </div>
                    <p>那个是马蓉么？</p>
                    
                </li>
                
            </ul>
            <div class="no-comment">
                <img src="//staticimg.yidianzixun.com/modules/build/images/no_comment-12628b2d.png">
                <p>暂无评论，快来抢沙发！</p>
            </div>
            <a href="#" class="more-comments comments-tip" style="display: inline-block;">查看更多评论<span class="arrow-down icon-arrow-down iconfont"></span></a>
            <div class="error-get-comments comments-tip" style="display: none;">加载失败，请点击重试</div>
            <div class="no-more-comments">已加载全部评论</div>
        </div>
    </div>
    <div class="right-wrapper">
        <div class="wemedia-wrapper">
            <a href="/channel/m299739" class="wemedia-image-box">
                <img src="http://i1.go2yd.com/image.php?url=http://si1.go2yd.com/get-image/0CCHR2lTBom&amp;type=thumbnail_150x150">
            </a>
            <a href="/channel/m299739" class="wemedia-name">星资</a>
            <p class="wemedia-summary hide-summary">关于明星的一切，就是我们的新闻</p>
            <a href="javascript:;" data-id="m299739" class="wemedia-subscribe"><i>+</i>关注</a>
        </div>
        <div class="related-docs-wrapper" style="display: block;">
            <h5>相关新闻</h5>
            <ul class="related-docs-list">
                
                <li>
                    <h3><a href="/article/0HgszE3j" target="_blank">文章成最悲惨导演，甄子丹和马云坐着，他蹲着给他们讲戏</a></h3>
                    <p>昨天</p>
                </li>
                
                <li>
                    <h3><a href="/article/K_005T7UQL" target="_blank">如何评价马云以及他的电影《功守道》？</a></h3>
                    <p>2天前</p>
                </li>
                
                <li>
                    <h3><a href="/article/0HgHE6lq" target="_blank">马云吊打吴京李连杰！史上最贵年会大片《功守道》到底什么道道？</a></h3>
                    <p>2天前</p>
                </li>
                
                <li>
                    <h3><a href="/article/0HgN0CnI" target="_blank">马云单挑“叶问”吊打“战狼”，网友：原来天下武功，唯富不破！</a></h3>
                    <p>2天前</p>
                </li>
    
            </ul>
        </div>
        <div class="widget-box widget-hot-channel-box">
            <div class="widget widget-hot-channel">
                <h5>热门频道</h5>
                <div class="related-channels-list">
                
                    <li class="js-channel-subscribe-item" data-fromid="u1275" data-channelid="undefined" data-channelname="英雄联盟">
                        <a href="/channel/u1275">
                        <img src="http://i1.go2yd.com/image.php?url=http://s.go2yd.com/b/idaza05c_7705d1d1.jpg&amp;type=thumbnail_150x150">
                        <p>英雄联盟</p>
                        </a>
                        <a class="related-channels-subscribe subscribe js-subscribe-btn" href="javascript:;" data-id="u1275">订阅</a>
                        <a class="related-channels-subscribe unsubscribe js-unsubscribe-btn" href="javascript:;" data-id="u1275">已订阅</a>
                    </li>
                    
                    <li class="js-channel-subscribe-item" data-fromid="u7175" data-channelid="undefined" data-channelname="双十一">
                        <a href="/channel/u7175">
                        <img src="http://i1.go2yd.com/image.php?url=https://s.go2yd.com/b/j07q1q4d_8l14b6b6.jpg&amp;type=thumbnail_150x150">
                        <p>双十一</p>
                        </a>
                        <a class="related-channels-subscribe subscribe js-subscribe-btn" href="javascript:;" data-id="u7175">订阅</a>
                        <a class="related-channels-subscribe unsubscribe js-unsubscribe-btn" href="javascript:;" data-id="u7175">已订阅</a>
                    </li>
                    
                    <li class="js-channel-subscribe-item" data-fromid="t22164" data-channelid="undefined" data-channelname="世预赛">
                        <a href="/channel/t22164">
                        <img src="http://i1.go2yd.com/image.php?url=http://s.go2yd.com/b/ih4gq7sb_7g00d1d1.jpg&amp;type=thumbnail_150x150">
                        <p>世预赛</p>
                        </a>
                        <a class="related-channels-subscribe subscribe js-subscribe-btn" href="javascript:;" data-id="t22164">订阅</a>
                        <a class="related-channels-subscribe unsubscribe js-unsubscribe-btn" href="javascript:;" data-id="t22164">已订阅</a>
                    </li>
                    
                    <li class="js-channel-subscribe-item" data-fromid="b3624" data-channelid="undefined" data-channelname="党建">
                        <a href="/channel/b3624">
                        <img src="http://i1.go2yd.com/image.php?url=http://s.go2yd.com/b/ir4ap6uo_7b01d1d1.jpg&amp;type=thumbnail_150x150">
                        <p>党建</p>
                        </a>
                        <a class="related-channels-subscribe subscribe js-subscribe-btn" href="javascript:;" data-id="b3624">订阅</a>
                        <a class="related-channels-subscribe unsubscribe js-unsubscribe-btn" href="javascript:;" data-id="b3624">已订阅</a>
                    </li>
                    
                    <li class="js-channel-subscribe-item" data-fromid="t9439" data-channelid="undefined" data-channelname="情感">
                        <a href="/channel/t9439">
                        <img src="http://i1.go2yd.com/image.php?url=http://s.go2yd.com/b/id5mlbxg_7g0fd1d1.jpg&amp;type=thumbnail_150x150">
                        <p>情感</p>
                        </a>
                        <a class="related-channels-subscribe subscribe js-subscribe-btn" href="javascript:;" data-id="t9439">订阅</a>
                        <a class="related-channels-subscribe unsubscribe js-unsubscribe-btn" href="javascript:;" data-id="t9439">已订阅</a>
                    </li>
                    
                    <li class="js-channel-subscribe-item" data-fromid="e128864" data-channelid="undefined" data-channelname="郭敬明">
                        <a href="/channel/e128864">
                        <img src="http://i1.go2yd.com/image.php?url=http://s.go2yd.com/b/idpiv0tr_9n00d1d1.jpg&amp;type=thumbnail_150x150">
                        <p>郭敬明</p>
                        </a>
                        <a class="related-channels-subscribe subscribe js-subscribe-btn" href="javascript:;" data-id="e128864">订阅</a>
                        <a class="related-channels-subscribe unsubscribe js-unsubscribe-btn" href="javascript:;" data-id="e128864">已订阅</a>
                    </li>
                
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 
{% block js %}
<script data-main="article-detail/article-detail" src="/public/common/main.js"></script>
{% endblock %}
