{% extends './layout.html' %} 
{% block title %} 首页 {% endblock %} 
{% block content%}
    <div class="aside">
        <div class="widget-box widget-imedia-article-box">
            <div class="widget widget-imedia-article">
                <div class="content news-list">
                    <a class="doc style-small-image style-content-middle item-0 " href="/article/0HcG0Qu9">
                        <div class="doc-image-small-wrapper">
                            <img class="doc-image-small" src="http://i1.go2yd.com/image.php?type=thumbnail_300x300&amp;url=http://si1.go2yd.com/get-image/060aRATChyS">
                        </div>
                        <div class="doc-content">
                            <div class="doc-content-inline">
                            <div class="doc-title">那些偷偷摸摸在家带娃的男人们</div>
                            <div class="doc-info">
                                <div class="source">新世相</div>
                                <div class="date">昨天</div>
                            </div>
                            </div>
                        </div>
                        </a>
                    
                        <a class="doc style-small-image style-content-middle item-1 " href="/article/0HcFFrlR">
                        <div class="doc-image-small-wrapper">
                            <img class="doc-image-small" src="http://i1.go2yd.com/image.php?type=thumbnail_300x300&amp;url=http://si1.go2yd.com/get-image/0DSQ5zc4SZs">
                        </div>
                        <div class="doc-content">
                            <div class="doc-content-inline">
                            <div class="doc-title">你信不信我随便找个人嫁了......</div>
                            <div class="doc-info">
                                <div class="source">冷笑话精选</div>
                                <div class="date">昨天</div>
                            </div>
                            </div>
                        </div>
                        </a>
                        <a class="doc style-small-image style-content-middle item-2 " href="/article/0Hc73uJE">
                        <div class="doc-image-small-wrapper">
                            <img class="doc-image-small" src="http://i1.go2yd.com/image.php?type=thumbnail_300x300&amp;url=http://si1.go2yd.com/get-image/08S5zNhEfGS">
                        </div>
                        <div class="doc-content">
                            <div class="doc-content-inline">
                            <div class="doc-title">锐参考 | 揭发性骚扰的这场网络运动，让西方名人形象接连坍塌</div>
                            <div class="doc-info">
                                <div class="source">参考消息网</div>
                                <div class="date">昨天</div>
                            </div>
                            </div>
                        </div>
                        </a>
                        <a class="doc style-small-image style-content-middle item-3 last" href="/article/0HcGHMLJ">
                        <div class="doc-image-small-wrapper">
                            <img class="doc-image-small" src="http://i1.go2yd.com/image.php?type=thumbnail_300x300&amp;url=http://si1.go2yd.com/get-image/0BLBQTy34xU">
                        </div>
                        <div class="doc-content">
                            <div class="doc-content-inline">
                            <div class="doc-title">你敢家暴，我就敢割你JJ</div>
                            <div class="doc-info">
                                <div class="source">咪蒙</div>
                                <div class="date">昨天</div>
                            </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="widget-box widget-hot-article-box">
                <div class="widget widget-hot-article">
                  <h4>热文排行</h4>
                  <div class="content news-list">
                    
                    <a class="doc item-0 " href="/article/0Hc0TJhl">
                        <div class="index iconfont icon-1"></div>
                        <div class="doc-title">樱花点亮自媒体之道，一点资讯“一点学院•百校万人计划”落地武大</div>
                    </a>
                
                    <a class="doc item-1 " href="/article/V_01FYzmlj">
                        <div class="index iconfont icon-2"></div>
                        <div class="doc-title">视频：特朗普推特帐户被删？美国群众喜大普奔</div>
                    </a>
                
                    <a class="doc item-2 " href="/article/0HcBhmEk">
                        <div class="index iconfont icon-31"></div>
                        <div class="doc-title">携35万现金“仗剑走天涯”老人”：战友没找到 十几个“妻子”打来电话</div>
                    </a>
                
                    <a class="doc item-3 " href="/article/0HcGljjS">
                        <div class="index iconfont icon-4"></div>
                        <div class="doc-title">西班牙法官向加泰前主席发国际逮捕令</div>
                    </a>
                
                    <a class="doc item-4 last" href="/article/0Hc5g56s">
                        <div class="index iconfont icon-52"></div>
                        <div class="doc-title">英国十年来首次加息 美国马上又要加息 中国呢？</div>
                    </a>
                    
                </div>
            </div>
        </div>
        <div class="widget-box widget-hot-video-box">
            <div class="widget widget-hot-video">
                <h4>热门视频</h4>
                <div class="content news-list">
                
                    <a class="doc doc-video style-small-image item-0 last" href="/article/V_016yjqdX">
                    <div class="doc-image-small-wrapper">
                        <div class="doc-image-box">
                        <img class="doc-image-small" src="http://i1.go2yd.com/image.php?url=http://si1.go2yd.com/get-image/0G6fVF6Zorw&amp;type=thumbnail_220x150">
                        
                            <div class="video-time">00:47</div>
                        
                        </div>
                    </div>
                    <div class="doc-content">
                        <div class="doc-content-inline">
                        <div class="doc-title">和吴京接吻什么感觉？ 卢靖姗这样说……</div>
                        <div class="doc-info">
                            <div class="comment-count">29评论</div>
                            <div class="play-count">2017.8.24</div>
                        </div>
                        </div>
                    </div>
                    </a>
                
                </div>
            </div>
            </div>
        <div class="widget-box widget-media-list-box">
            <div class="widget widget-media-list">
                <h4>自媒体榜单</h4>
                <div class="content news-list">
                    
                    <a class="doc " href="https://www.yidianzixun.com/article/0HSMEzmv">
                        <span style="color:#1f72d9" class="media-list-name">权v榜</span>
                        <span class="doc-title">这是一点号/凤凰号九月权V榜！</span>
                    </a>
                    
                    <a class="doc " href="https://www.yidianzixun.com/article/0HSMHFA8">
                        <span style="color:#c2113f" class="media-list-name">黑马榜</span>
                        <span class="doc-title">一点号/凤凰号九月黑马榜TOP50</span>
                    </a>
                    
                    <a class="doc " href="https://www.yidianzixun.com/article/0HVOkDdw">
                        <span style="color:#db9a1b" class="media-list-name">深度报道榜</span>
                        <span class="doc-title">中国新闻周刊夺第四期深度报道榜首</span>
                    </a>
                    
                    <a class="doc " href="https://www.yidianzixun.com/article/0HYQv7OD">
                        <span style="color:#79a91c" class="media-list-name">图集榜</span>
                        <span class="doc-title">9月最受欢迎图集榜TOP10</span>
                    </a>
                    
                    <a class="doc " href="https://www.yidianzixun.com/article/0HVOjnBl">
                        <span style="color:#481573" class="media-list-name">分享榜</span>
                        <span class="doc-title">9月分享榜如期发榜啦</span>
                    </a>
                    
                    <a class="doc " href="https://www.yidianzixun.com/article/0HH5Rm2y">
                        <span style="color:#222222" class="media-list-name">黑榜</span>
                        <span class="doc-title">一点号/凤凰号公布8月黑榜名单</span>
                    </a>
                    
                    <a class="doc last" href="https://www.yidianzixun.com/article/0HVOk21C">
                        <span style="color:#c2113f" class="media-list-name">政务榜</span>
                        <span class="doc-title">一点号/凤凰号发布9月政务榜</span>
                    </a>
                    
                </div>
            </div>
        </div>
        <div class="widget-box widget-about-yidian-box">
            <div class="widget widget-about-yidian">
                <h4>关于一点</h4>
                <div class="content">
                    <div class="links">
                        <a class="item about-us" href="/about">
                        <div class="iconfont icon-yidian"></div>
                        <p>关于我们</p>
                        </a>
                        <a class="item yd-hao" href="http://mp.yidianzixun.com/">
                        <div class="iconfont icon-ydhao"></div>
                        <p>一点号</p>
                        </a>
                        <a class="item join-yd" href="http://www.hotjob.cn/wt/yidian/web/index?brandCode=1">
                        <div class="iconfont icon-jiaruwomen"></div>  
                        <p>加入一点</p>
                        </a>
                    </div>
                    <div class="qrcode-download">
                        <div class="qrcode iconfont icon-qrcode-detail"></div>
                        <div class="logo iconfont icon-logo"></div>
                        <a href="//download.yidianzixun.com">扫描二维码下载APP</a>
                    </div>
                    <div class="official-info">
                        <a href="mailto:kefu@yidian-inc.com">用户反馈：kefu@yidian-inc.com</a>
                        <a href="mailto:bd@yidian-inc.com">商务合作：bd@yidian-inc.com</a>
                        <a href="mailto:hr@yidian-inc.com">加入我们：hr@yidian-inc.com</a>
                        <a href="mailto:mp@yidian-inc.com">一点号问题反馈：mp@yidian-inc.com</a>
                        <a href="mailto:tousu@yidian-inc.com">举报邮箱：tousu@yidian-inc.com</a>
                        <a href="mailto:adservice@yidian-inc.com">广告合作：adservice@yidian-inc.com</a>
                        <a href="mailto:localservices@yidian-inc.com">本地化合作：localservices@yidian-inc.com</a>
                        <p>客服：4008191599</p>
                        <p>前台：010-60676688</p>
                        <p>举报电话：13691332103</p>
                    </div>
                    <div class="official-info">
                        <p>京ICP证140123号</p>
                        <p>京网文[2015]0377-157号</p>
                        <p><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备13041805号-1</a></p>
                        <a href="http://static.yidianzixun.com/modules/docs/yidian_ypxxfw.pdf" target="_blank">互联网药品信息服务资格证书</a>
                        <a href="http://www.12377.cn" target="_blank">中国互联网举报中心网址: http://www.12377.cn</a>
                        <a href="http://www.12377.cn/node_548446.htm" target="_blank">"网络举报"移动客户端下载链接: http://www.12377.cn/node_548446.htm</a>
                        <a href="http://www.cyberpolice.cn" target="_blank">公安部网络违法犯罪举报网站: http://www.cyberpolice.cn</a>
                        <p>
                        <a id="___szfw_logo___" href="https://credit.szfw.org/CX20170807035830210318.html" target="_blank" class="honest_icon"><img src="http://icon.szfw.org/sf.png" border="0"></a>
                        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502033561"><span class="icon-jgw"></span><span>京公网安备 11010502033561号</span></a>
                        </p>
                        <a href="http://www.12377.cn" target="_blank" class="icon-12377">
                        <img src="//staticimg.yidianzixun.com/modules/build/images/12377-15cc24e5.png">
                        <h5>网上有害信息举报专区</h5>
                        <p>举报电话：12377</p>
                        </a>
                        <a href="http://www.bjjubao.org/" target="_blank" class="icon-jubao">
                        <img src="//staticimg.yidianzixun.com/modules/build/images/jubao-8923760b.png">
                        <h5>北京互联网违法和不良信息举报中心</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slide">
        <div class="slide-list">
            
            <a class="slide-item item-0" href="http://www.yidianzixun.com/0HcHtvw5" style="display: none;">
                <img src="http://si1.go2yd.com/get-image/0I1VOAY0btw" style="opacity: 0;">
                <div class="slide-shadow"></div>
                <p class="slide-item-title">德总统访澳 与考拉对视眼神亮了</p>
            </a>
            
            <a class="slide-item item-1" href="http://www.yidianzixun.com/0HbuPKQg" style="display: none;">
                <img src="http://si1.go2yd.com/get-image/0I1V7yqc9Oy" style="opacity: 0;">
                <div class="slide-shadow"></div>
                <p class="slide-item-title">&#8203;伊万卡与安倍晋三出席论坛 大长腿抢镜&#8203;</p>
            </a>
            
            <a class="slide-item item-2" href="http://www.yidianzixun.com/0Hbxy7vm" style="display: block;">
                <img src="http://si1.go2yd.com/get-image/0I1V8fvSGA4" style="opacity: 1;">
                <div class="slide-shadow"></div>
                <p class="slide-item-title">七彩太阳！不同紫外线波长下的太阳表面照</p>
            </a>
            
            <a class="slide-item item-3" href="http://www.yidianzixun.com/0HbvHlD6" style="display: none;">
                <img src="http://si1.go2yd.com/get-image/0I1V7FrgcT2" style="opacity: 0;">
                <div class="slide-shadow"></div>
                <p class="slide-item-title">&#8203;2500万块积木造&#8203;出的&#8203;豪宅&#8203;</p>
            </a>
            
        </div>
        <div class="flag-wrapper">
            
            <div class="flag flag-0"></div>
            
            <div class="flag flag-1"></div>
            
            <div class="flag flag-2 active"></div>
            
            <div class="flag flag-3"></div>
            
        </div>
        </div>
    <div class="channel-news channel-news-0">

        {% for article in articles %}

        <a class="item doc style-small-image style-content-middle" href="/article/0HcP5x1I?_t_t_t=0.7833449961557446" target="_blank" data-docid="0HcP5x1I">
            <div class="doc-image-small-wrapper">
                <div class="doc-image-box">
                    <img class="doc-image doc-image-small" src="{{article.cover}}">
                </div>
            </div>
            <div class="doc-content">
                <div class="doc-content-inline">
                <div class="doc-title">{{article.title}}</div>
                <div class="doc-info">
                    
                    <img src="{{article.cover}}">
                    
                    
                    
                    <span class="source">article.author</span>
                    
                    
                    <span class="comment-count">110评</span>
                    <span class="date">{{ article.time.toISOString().substring(0,10) }}</span>
                    <div class="doc-remove">不感兴趣<span class="iconfont icon-close-half"></span></div>
                </div>
                </div>
            </div>
        </a>

        {% endfor %}
        <!-- <a class="item doc style-small-image style-content-middle split-refresh-btn-pre-doc no-bottom-border" href="/article/0HcJxsrM?_t_t_t=0.7833449961557446" target="_blank" data-docid="0HcJxsrM">
            <div class="doc-image-small-wrapper">
                <div class="doc-image-box">
                <img class="doc-image doc-image-small" src="http://i1.go2yd.com/image.php?type=thumbnail_336x216&amp;url=0HcJxs16tv">
                
                
                </div>
            </div>
            <div class="doc-content">
                <div class="doc-content-inline">
                <div class="doc-title">哈登爱将崛起将保罗边缘化，用一数据可挤掉汤神进入全明星</div>
                <div class="doc-info">
                    
                    
                    
                    <span class="source">扣篮Slam</span>
                    
                    
                    <span class="comment-count">8评</span>
                    <span class="date">5小时前</span>
                    <div class="doc-remove">不感兴趣<span class="iconfont icon-close-half"></span></div>
                </div>
                </div>
            </div>
        </a>
        <div class="item split-refresh-btn">刚刚看到这里 点击刷新</div>

        <a class="item doc style-no-image" href="/article/0HcED1Jr?_t_t_t=0.7833449961557446" target="_blank" data-docid="0HcED1Jr">
            <div class="doc-title">视频|习近平视察军委联合作战指挥中心</div>
            <div class="doc-info">
                
                <img src="//s.go2yd.com/c/t14.png">
                
                
                
                <span class="source">央视网</span>
                
                
                <span class="comment-count">104评</span>
                <span class="date">1分钟前</span>
                <div class="doc-remove">不感兴趣<span class="iconfont icon-close-half"></span></div>
            </div>
        </a> -->
</div>
    
{% endblock %} 
{% block js %}
<script data-main="index/index" src="/public/common/main.js"></script>
{% endblock %}