
{% if isAjax %}
    {% block content %} {% endblock%}
{% else %}
    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- 父亲模板占位，可以被子模板覆盖的东西 -->
        <title>{% block title %}首页{% endblock%}</title>
        {% if !isDev %}
            <link rel="stylesheet" href="/public/css/lib.css">
            <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        {% endif %}
        {% block css %} {% endblock%}
    </head>

    <body>
        <div id="wrap">
            <div class="header_top">
                <div class="header_links fr">
                    <a href="">品牌介绍</a>
                    <span class="split_icon"></span>
                    <a href="">侵权投诉</a>
                    <span class="split_icon"></span>
                    <a href="">代理合作</a>
                    <span class="split_icon"></span>
                    <a href="">校园大使</a>
                </div>
            </div>
            <div class="header_search">
                <div class="content">
                    <a href="" class="logo iconfont icon-logo">
                        <img src="/public/img/FBzixun_logo.png" alt="">
                    </a>
                    <input type="text" class="input input_search" placeholder="大家都在搜:郎永淳妻子致歉">
                    <button class="btn btn_search">搜索</button>
                    <div class="fr header_links">
                        <a href="http://download.yidianzixun.com/" class="link link_download">下载APP</a>
                        <span class="split_icon"></span>
                        <a href="http://mp.yidianzixun.com/" class="link link_ydhao">一点号</a>
                        <span class="split_icon"></span>
                        <button class="btn btn_login js-to-login">登录</button>
                    </div>
                </div>
            </div>
            <div class="header_channel_nav">
                <div class="content">
                    <div class="channel_nav">
                        <div class="down iconfont icon-arrow-down"></div>
                        <div class="list">
                                <a data-index="0" href="/" data-channelid="best" class="item active">首页</a>
                                <a data-index="0" href="/" data-channelid="best" class="item">要闻</a>
                                <a data-index="0" href="/" data-channelid="best" class="item">一点号</a>
                                <a data-index="0" href="/" data-channelid="best" class="item">视频</a>
                                <a data-index="0" href="/" data-channelid="best" class="item">段子</a>
                                <a data-index="0" href="/" data-channelid="best" class="item">汽车</a>
                                <a data-index="0" href="/" data-channelid="best" class="item">社会</a>
                                <a data-index="0" href="/" data-channelid="best" class="item">娱乐</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="main" class="main index_main">
                {% block content %} {% endblock%}
            </div>


        </div>
        <script src="/public/common/lib.js"></script>
        {% block js %} {% endblock%}
        {% if isDev %}
        <!-- 服务器启动后浏览器页面自动刷新 -->
        <script src="/reload/reload.js"></script>
        {% endif %}
    </body>

    </html>

{% endif %}
